Page64_TypeScript/.idea/
Page130_AngularCLI/.idea/
Page130_AngularCLI/node_modules/
Page144_AngularCLIJokeComponentProject/.idea/
Page197_ImageCarousel_ViewChildren/.idea/
Page199_BuiltInDirectives/.idea/
Page239_BuiltInDirectives_ArticleComponent/.idea/
Page241_CustomDirectives/.idea/
Page265_RolloverImageDirective/.idea/
Page280_RxJS_with_Angular_Form/.idea/
