Page13_FirstApp_SystemJS/.idea/
Page21_MoustacheSyntax/.idea/
Page25_NgFor/.idea/
Page31_PropertyAndEventBinding/.idea/
Page37_DomainModel/.idea/
Page41_NestingComponentsAndInputProperties/.idea/
Page51_UserInteraction_Outputs_TemplateRefs/.idea/
Page64_TypeScript/.idea/
Page130_AngularCLI/.idea/
Page130_AngularCLI/node_modules/
Page144_AngularCLIJokeComponentProject/.idea/
Page197_ImageCarousel_ViewChildren/.idea/
Page199_BuiltInDirectives/.idea/
Page239_BuiltInDirectives_ArticleComponent/.idea/
Page241_CustomDirectives/.idea/
Page265_RolloverImageDirective/.idea/
Page273_RxJS/.idea/
Page280_RxJS_with_Angular_Form/.idea/
Page295_BuiltInPipes/.idea/
Page295_BuiltInPipes/node_modules/
Page310_AsyncPipe/.idea/
Page317_CustomPipes/.idea/
Page323_CustomPipe_JokeSwearWordsReplacer/.idea/
Page326_ModelDrivenForms/.idea/
